@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" title="Manage">Hi, welcome @User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="account" asp-action="signout">Logout</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-action="register" asp-controller="account">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-action="login" asp-controller="account">Login</a>
        </li>
    }
</ul>
