@{
    ViewData["Title"] = "List of customers";
}
<style>
    .h2 {
        font-family: Verdana;
    }
</style>


<h2 mb-3">
    Customers
</h2>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6 mb-3">
        <a class="btn btn-primary" asp-action="new">
            <i class="fa fa-plus-circle"></i>&nbsp;NEW CUSTOMER
        </a>
    </div>
</div>
<hr />

<table id="customers" class="table table-bordered table-striped table-hover mb-5" style="width:100%">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Membership Type</th>
            <th>Gender</th>
            <th>Birth Date</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>


@section Scripts{
    <script src="~/js/customers.js"></script>
}








